<% if user_signed_in? %>
	<%= render 'layouts/header' %>
<% end %>

<% menu = {
	"Work" => ["Demoreel", "Production"],
	"Resume" => [],
	"Contact" => [],
	#"Perso" => [],
	#"Contact" => ["Contact", "Resume"]
} %>

<div class="container demoreel">
	<div class="top-header row">
		<div id="name" class="col-xs-12 col-sm-9 col-md-9 col-lg-5 text-left">
			<div class="visible-xs">
				<h1>Titiane LEBEL</h1>
			</div>
			<div class="hidden-xs">
				<h1>Titiane LEBEL</h1>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-7">
			<!-- lg menu -->
			<div class="visible-lg">
				<% for k,v in menu do %>
					<div class="col-lg-4 text-center">
						<h3 class="<%= k.downcase %>-menu"><a href="/<%= k.downcase %>"><%= k %></a></h3>
					</div>
				<% end %>
			</div>
			<!-- md&sm menu -->
			<div class="visible-md visible-sm">
				<div id="dropsmmd" class="menu-title dropdown-toggle" data-toggle="dropdown">
					<h3>Menu</h3>
				</div>
				<div class="menu dropdown-menu" aria-labelledby="dropsmmd">
					<% for k,v in menu do %>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
							<h3 class="<%= k.downcase %>-menu"><a href="/<%= k.downcase %>"><%= k %></a></h3>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-header row">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-left">
			<h2>FxArtist</h2>
		</div>
		<% if not menu[current].empty? %>
			<div class="work-submenu work col-xs-12 col-sm-7 col-md-7 col-lg-7 text-left hidden-xs" bottom="0px">
				<% for s in menu[current] %>
					<div class="col-sm-6 col-md-6 col-lg-4 text-center">
						<h4 class="<%= s.downcase %>-menu"><a href="/<%= s.downcase %>"><%= s %></a></h4>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<!-- xs menu -->
	<div class="visible-xs">
		<div class="menu" style="display: none">
			<% for k,v in menu do %>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
					<h4 class="<%= k.downcase %>-menu"><a href="/<%= k.downcase %>"><%= k %></a></h4>
					<% if not v.empty? %>
						<div class="<%= k.downcase %>-submenu col-xs-12 col-sm-7 col-md-7 col-lg-7 text-left visible-xs" bottom="0px">
							<% for s in v do %>
								<div class="col-xs-8 col-xs-offset-4 text-center">
									<h4 class="<%= s.downcase %>-menu"><a href="/<%= s.downcase %>"><%= s %></a></h4>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>