<%
en = retrieve_cv(0)
fr = retrieve_cv(1)
%>
<div class="resume container-fluid">
	<div class="row text-center visible-md visible-lg">
		<div class="cv_fr col-md-6 col-lg-6">
			<%= link_to fr do %>
				<%= image_tag "resume/Icone_FR.jpg", width:"112px", heigth: "97px"%>&nbsp;&nbsp;CV
			<% end %>
		</div>
		<div class="cv_us col-md-6 col-lg-6">
			<%= link_to en do %>
				<%= image_tag "resume/Icone_USEN.jpg", width:"112px", heigth: "97px"%>&nbsp;&nbsp;Resume
			<% end %>
		</div>
	</div>
	<div class="row text-center visible-xs visible-sm">
		<div class="cv_fr col-xs-12 col-sm-12">
			<%= link_to fr do %>
				<%= image_tag "resume/Icone_FR.jpg", width:"112px", heigth: "97px"%>&nbsp;&nbsp;CV
			<% end %>
		</div>
		<div class="cv_us col-xs-12 col-sm-12">
			<%= link_to en do %>
				<%= image_tag "resume/Icone_USEN.jpg", width:"112px", heigth: "97px"%>&nbsp;&nbsp;Resume
			<% end %>
		</div>
	</div>
</div>