<!DOCTYPE html>
<!-- Developed by Guillaume Deberdt, guiguideberdt@hotmail.com -->
<html>
  <head>
    <title>Titiane Lebel</title>

    <meta charset="UTF-8">

    <%= favicon_link_tag %>

    <title>Titiane Lebel</title>

    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  </head>
  <body>

    <header>
      <%= render partial: "header", locals: {current: "Work"} %>
    </header>

    <div class="container">

      <%= render 'demoreel' %>

    </div>

    <footer>
      <a href="mailto:guiguideberdt@hotmail.com">by Guillaume Deberdt</a>
    </footer>
  </body>
</html>