<p id="notice"><%= notice %></p>

<p>
  <strong><%= trans_cap('title') + t('typo.semi') %></strong>
  <%= @production.title %>
</p>

<p>
  <strong>Year<%= t('typo.semi') %></strong>
  <%= @production.year %>
</p>

<p>
  <strong>Order<%= t('typo.semi') %></strong>
  <%= @production.order %>
</p>

<p>
  <strong>Realisation<%= t('typo.semi') %></strong>
  <%= @production.realisation %>
</p>

<p>
  <strong>Link<%= t('typo.semi') %></strong>
  <%= @production.link %>
</p>

<p>
  <strong>picture<%= t('typo.semi') %></strong>
  <%= link_to @production.picture_file_name, @production.picture.url %>
</p>

<%= link_to trans_cap('data.edit'), edit_production_path(@production) %> |
<%= link_to trans_cap('data.index'), productions_path %>
