<h1><%= @contact.key.capitalize %></h1>

<%= form_for(@contact, url: {controller: "contacts", action: "update"}, html: {method: "patch"}) do |f| %>
  <%= render 'errors', :contact => @contact %>
  
  <div class="format">
    <%= @contact.valid_format() %>
  </div>
  <div class="field">
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit trans_cap('submit') %>
  </div>
<% end %>

<%= link_to trans_cap('data.index'), contacts_path %>
