<h1>Demoreels</h1>

<table class="table index">
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @demoreels.each do |demoreel| %>
      <tr>
        <td class="title">
          <%= link_to edit_demoreel_path(demoreel) do %>
            <%= demoreel.title %>
          <% end %>
          <span class="actions">
            <%= link_to edit_demoreel_path(demoreel)  do %>
              <%= fa_icon "edit", title: "Editer" %>
            <% end %>
            <%= link_to demoreel, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } do %>
              <%= fa_icon "trash-o", title: "Supprimer" %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_demoreel_path do %>
  <%= fa_icon "plus", title: "Ajouter", text: "Ajouter" %>
<% end %>
