<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle menu" data-toggle="collapse" data-target="#navbar-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle settings" data-toggle="collapse" data-target="#navbar-settings">
				<%= fa_icon "cog" %>
			</button>
			<%= link_to app_title, '/',  class: "navbar-brand", id: "brand" %>
		</div>

		<div class="collapse navbar-collapse" id="navbar-settings">
			<ul class="nav navbar-nav navbar-right">
				<% if not user_signed_in? %>
					<li>
						<%= link_to(login_path) do %>
							<%= fa_icon "sign-in", text: trans_cap('auth.login') %>
						<% end %>
					</li>
				<% end %>
				<li>
					<%= link_to(help_path) do %>
						<%= fa_icon "question-circle", text: trans_cap('help') %>
					<% end %>
				</li>
				<% if user_signed_in? %>
					<li>
						<%= link_to(logout_path) do %>
							<%= fa_icon "sign-out", text: trans_cap('auth.logout') %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>