<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title))%></title>
	<meta name="viewport" content="width=device-width" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render "layouts/header" %>
	</header>

	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "Demoreels", demoreels_path %></li>
			<li><%= link_to "Productions", root_path %></li>
			<li><%= link_to "CVs", root_path %></li>
			<li><%= link_to "Contacts", contacts_path %></li>
		</ul>
	</div>

	<div class="content">

		<!-- Devise need flash message -->
		<% if flash[:notice] %>
			<div class="alert alert-success" role="alert">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<% if flash[:alert] %>
			<div class="alert alert-warning" role="alert">
				<%= flash[:alert] %>
			</div>
		<% end %>
		<% if flash[:error] %>
			<div class="alert alert-danger" role="alert">
				<%= flash[:error] %>
			</div>
		<% end %>

		<div class="container-fluid">
			<%= yield %>
		</div>
	</div>

	<footer>
		<%= render "layouts/footer" %>
	</footer>

</body>
</html>
