<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title))%></title>
	<meta name="viewport" content="width=device-width" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= render "layouts/header" %>
	</header>

	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "data" %></li>
			<li><a href="">Lien 2</a></li>
			<li><a href="">Lien 3</a></li>
			<li><a href="">Lien 4</a></li>
			<li><a href="">Lien 5</a></li>
			<li><a href="">Lien 6</a></li>
			<li><a href="">Lien 7</a></li>
			<li><a href="">Lien 8</a></li>
		</ul>
	</div>

	<div class="content">

		<div class="flash-mesages" style="position: absolute">
			<!-- Devise need flash message -->
			<!-- TODO: Fix css, useless padding on alert when empty -->
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>

		<div class="container-fluid">
			<%= yield %>
		</div>
	</div>

	<footer>
		<% render "layouts/footer" %>
	</footer>

</body>
</html>
